/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/shared/_config.scss';
@import '~@styles/shared/_variables.scss';
@import '~@styles/shared/_editor.scss';

/* ------------------------------------------------------------ *\
    Editor
\* ------------------------------------------------------------ */
@import '~/bootstrap/scss/bootstrap.scss';
@import '~@styles/gutenberg-block/index.scss';
