# Build files
/dist/
/resources/styles/frontend/_sprite.scss
/resources/styles/*.config.scss

# Development files
/config.json

# Build modules
/node_modules/

# Composer packages
/vendor/

# NPM lockfile as it causes more problems than it solves
package-lock.json

# WordPress test environment
/tests/environment

# CLI tools
drone.json

# Common
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
