# Modified version of the TwentySeventeen theme .travis.yml file.
# @link https://github.com/WordPress/twentyseventeen/blob/master/.travis.yml
language: php

sudo: true

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1

env:
  - WP_VERSION=master WP_MULTISITE=0
  - WP_VERSION=4.9 WP_MULTISITE=0
  - WP_VERSION=4.8 WP_MULTISITE=0
  - WP_VERSION=4.7 WP_MULTISITE=0

matrix:
  include:
  - php: 5.5
    env: WP_VERSION=4.7 WP_MULTISITE=1

before_install:
  - composer self-update

before_script:
  # Set up WordPress installation.
  - export WP_DEVELOP_DIR=/tmp/wordpress/
  - mkdir -p $WP_DEVELOP_DIR
  # Use the Git mirror of WordPress.
  - git clone --depth=1 --branch="$WP_VERSION" git://develop.git.wordpress.org/ $WP_DEVELOP_DIR
  # Set up Twenty Seventeen theme information.
  - theme_slug=$(basename $(pwd))
  - theme_dir=$WP_DEVELOP_DIR/src/wp-content/themes/$theme_slug
  - cd ..
  - mv $theme_slug $theme_dir
  # Set up WordPress configuration.
  - cd $WP_DEVELOP_DIR
  - echo $WP_DEVELOP_DIR
  - cp wp-tests-config-sample.php wp-tests-config.php
  - sed -i "s/youremptytestdbnamehere/wordpress_test/" wp-tests-config.php
  - sed -i "s/yourusernamehere/root/" wp-tests-config.php
  - sed -i "s/yourpasswordhere//" wp-tests-config.php
  # Create WordPress database.
  - mysql -e 'CREATE DATABASE wordpress_test;' -uroot
  # Hop into themes directory.
  - cd $theme_dir
  # Setup test environment.
  - composer install-test-env
  # Install Yarn.
  - npm install -g yarn
  # Install node packages.
  - yarn install

script:
  # Run build.
  - yarn build
  # Run lints.
  - yarn lint
