/**
 * Color palette.
 *
 * @see resources/styles/shared/_variables.scss
 */
.has-material-red-color {
  color: $material-red;
}

.has-material-pink-color {
  color: $material-pink;
}

.has-material-purple-color {
  color: $material-purple;
}

.has-material-deep-purple-color {
  color: $material-deep-purple;
}

.has-material-indigo-color {
  color: $material-indigo;
}

.has-material-blue-color {
  color: $material-blue;
}

.has-material-light-blue-color {
  color: $material-light-blue;
}

.has-material-cyan-color {
  color: $material-cyan;
}

.has-material-teal-color {
  color: $material-teal;
}

.has-material-green-color {
  color: $material-green;
}

.has-material-light-green-color {
  color: $material-light-green;
}

.has-material-lime-color {
  color: $material-lime;
}

.has-material-yellow-color {
  color: $material-yellow;
}

.has-material-amber-color {
  color: $material-amber;
}

.has-material-orange-color {
  color: $material-orange;
}

.has-material-deep-orange-color {
  color: $material-deep-orange;
}

.has-material-brown-color {
  color: $material-brown;
}

.has-material-grey-color {
  color: $material-grey;
}

.has-material-blue-grey-color {
  color: $material-blue-grey;
}

/**
 * Background color palette.
 *
 * @see resources/styles/shared/_variables.scss
 */
.has-material-red-background-color {
  background-color: $material-red;
}

.has-material-pink-background-color {
  background-color: $material-pink;
}

.has-material-purple-background-color {
  background-color: $material-purple;
}

.has-material-deep-purple-background-color {
  background-color: $material-deep-purple;
}

.has-material-indigo-background-color {
  background-color: $material-indigo;
}

.has-material-blue-background-color {
  background-color: $material-blue;
}

.has-material-light-blue-background-color {
  background-color: $material-light-blue;
}

.has-material-cyan-background-color {
  background-color: $material-cyan;
}

.has-material-teal-background-color {
  background-color: $material-teal;
}

.has-material-green-background-color {
  background-color: $material-green;
}

.has-material-light-green-background-color {
  background-color: $material-light-green;
}

.has-material-lime-background-color {
  background-color: $material-lime;
}

.has-material-yellow-background-color {
  background-color: $material-yellow;
}

.has-material-amber-background-color {
  background-color: $material-amber;
}

.has-material-orange-background-color {
  background-color: $material-orange;
}

.has-material-deep-orange-background-color {
  background-color: $material-deep-orange;
}

.has-material-brown-background-color {
  background-color: $material-brown;
}

.has-material-grey-background-color {
  background-color: $material-grey;
}

.has-material-blue-grey-background-color {
  background-color: $material-blue-grey;
}
