/* ------------------------------------------------------------ *\
    Vendor
\* ------------------------------------------------------------ */

@import './vendor/*.scss';

/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/shared/_config.scss';
@import '~@styles/shared/_variables.scss';
@import '~@styles/shared/_editor.scss';
@import './_variables.scss';
@import './_sprite.scss';

/* ------------------------------------------------------------ *\
    Theme
\* ------------------------------------------------------------ */

@import './_generic*.scss';
