@mixin font-face(
  $name,
  $path: '../assets/fonts',
  $ext: eot woff2 woff ttf svg,
  $weight: normal,
  $style: normal
) {
  $_source: null;
  $_exts  : (
    eot: '#iefix',
    svg: '##{$name}'
  );
  $_formats: (
    ttf: 'truetype',
    eot: 'embedded-opentype'
  );

  @font-face {
    font-family: quote($name);
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: $source;
  }
}








































// // :: font-face
// // -- Include fonts in your project easily with this @mixin
// // -- ex : @include font-face( Roboto, font-primary/roboto );
// @mixin font-face($font-name, $dir, $extensions: eot woff2 woff ttf svg, $weight: normal, $style: normal) {
// 	$default : '../assets/fonts/' + $dir;
// 	$src     : null;

// 	$add-ext: (
// 		eot : '#iefix',
// 		svg : '##{ $font-name }'
// 	);

// 	$formats : (
// 		ttf : 'truetype',
// 		eot : 'embedded-opentype'
// 	);

// 	@each $extension in $extensions {
// 		$mod    : if( map-has-key( $add-ext, $extension ), $extension + map-get( $add-ext, $extension ), $extension );
// 		$format : if( map-has-key( $formats, $extension ), map-get( $formats, $extension ), $extension );
// 		$src    : append( $src, url( quote( $default + '.' + $mod ) ) format( quote( $format ) ), comma );
// 	}

// 	@font-face {
// 		font-family: quote( $font-name );
// 		font-weight: $weight;
// 		font-style: $style;
// 		src : $src;
// 		font-display: swap;
// 	}
// }
